.App {
	margin: 20px;
}

.form-group {
	margin-bottom: 20px;
	width: 50%;
}

.form-control {
	width: inherit;
	border: 1px solid #ccc;
	padding: 10px;
}

.control-error {
	border: 1px solid red;
}

.form-group label,
.form-group .info-text {
	display: block;
	margin-bottom: 10px;
}

.form-group .info-text {
	color: rgba(0, 0, 0, 0.57);
	font-size: 14px;
	margin-top: 4px;
}

.form-group .error-text {
	color: red;
}

.form-group .radio-group label {
	display: inline-block;
}

.btn-submit {
	margin: 20px 0;
	padding: 8px 14px;
	font-size: 16px;
}
